################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp4/bin
/ConsoleApp4/obj
/ConsoleApp4/Properties/PublishProfiles
/TestSocketServer/bin
/TestSocketServer/obj
/TestSocketServer/Properties/PublishProfiles
/TestSocketClient/bin
/TestSocketClient/obj
/TestSocketClient/Properties/PublishProfiles
